{% include html_tag.html %}
{% include head_tag.html %}
<body>

{% include header.html %}

<div class="container">
	<!-- Example row of columns -->
	<div class="row">
		<div class="col-lg-8">
			<h2>{{ page.title }}</h2>

			<p>{{ content }}</p>

			<p>{{ page.date | date_to_string }}</p>

			<hr>
			{% include disqus_comment.html %}

		</div>
		<div class="col-lg-4">
		</div>
	</div>

	<hr>

	<footer>
		<p>&copy; Gongshw 2013</p>
	</footer>
</div>
<!-- /container -->

{% include footlibs.html %}

{% include ga.html %}

{% include disqus.html %}
</body>
{% include html_tag_end.html %}
